In [1]:
from random import randint, choice

frutas = ["manzana", "pera", "limon", "sandia", "platano", "cereza"]
personas = ["Ana", "Beto", "Daniela", "Carlos", "Emmanuel", "Felipe", "Gloria"]

In [3]:
db = [ (nombre, choice(frutas), randint(1,1000), randint(1,1000), randint(1,1000)) for nombre in personas]

In [4]:
db

[('Ana', 'sandia', 164, 769, 121),
 ('Beto', 'pera', 685, 996, 269),
 ('Daniela', 'cereza', 6, 655, 17),
 ('Carlos', 'limon', 819, 974, 544),
 ('Emmanuel', 'platano', 811, 656, 805),
 ('Felipe', 'limon', 457, 279, 827),
 ('Gloria', 'pera', 730, 510, 203)]

In [5]:
categorias = ["nombre", "fruta", "R1", "R2", "R3"]

In [7]:
from dataclasses import dataclass
@dataclass # decorador
class Elemento:
    nombre:str
    fruta:str
    R1:int
    R2:int
    R3:int
        
datos = [Elemento(*d) for d in db] # *: unpackage list d in the 5 args
datos

[Elemento(nombre='Ana', fruta='sandia', R1=164, R2=769, R3=121),
 Elemento(nombre='Beto', fruta='pera', R1=685, R2=996, R3=269),
 Elemento(nombre='Daniela', fruta='cereza', R1=6, R2=655, R3=17),
 Elemento(nombre='Carlos', fruta='limon', R1=819, R2=974, R3=544),
 Elemento(nombre='Emmanuel', fruta='platano', R1=811, R2=656, R3=805),
 Elemento(nombre='Felipe', fruta='limon', R1=457, R2=279, R3=827),
 Elemento(nombre='Gloria', fruta='pera', R1=730, R2=510, R3=203)]

In [8]:
sorted([10,15,20,1,4,45,8])

[1, 4, 8, 10, 15, 20, 45]

In [9]:
sorted( [ (2,3), (8,7), (5,6), (2,1), (5,0)]) # orders with all spaces from left to right

[(2, 1), (2, 3), (5, 0), (5, 6), (8, 7)]

In [10]:
sorted(db)

[('Ana', 'sandia', 164, 769, 121),
 ('Beto', 'pera', 685, 996, 269),
 ('Carlos', 'limon', 819, 974, 544),
 ('Daniela', 'cereza', 6, 655, 17),
 ('Emmanuel', 'platano', 811, 656, 805),
 ('Felipe', 'limon', 457, 279, 827),
 ('Gloria', 'pera', 730, 510, 203)]

In [12]:
def orden(lista):
    return lista[2]
sorted(db, key=orden)

[('Daniela', 'cereza', 6, 655, 17),
 ('Ana', 'sandia', 164, 769, 121),
 ('Felipe', 'limon', 457, 279, 827),
 ('Beto', 'pera', 685, 996, 269),
 ('Gloria', 'pera', 730, 510, 203),
 ('Emmanuel', 'platano', 811, 656, 805),
 ('Carlos', 'limon', 819, 974, 544)]

In [13]:
def orden(elemento):
    return elemento.R1
sorted(datos, key=orden) # orden receives each datos elem

[Elemento(nombre='Daniela', fruta='cereza', R1=6, R2=655, R3=17),
 Elemento(nombre='Ana', fruta='sandia', R1=164, R2=769, R3=121),
 Elemento(nombre='Felipe', fruta='limon', R1=457, R2=279, R3=827),
 Elemento(nombre='Beto', fruta='pera', R1=685, R2=996, R3=269),
 Elemento(nombre='Gloria', fruta='pera', R1=730, R2=510, R3=203),
 Elemento(nombre='Emmanuel', fruta='platano', R1=811, R2=656, R3=805),
 Elemento(nombre='Carlos', fruta='limon', R1=819, R2=974, R3=544)]

In [14]:
sorted(datos, key= lambda x: x.R1)

[Elemento(nombre='Daniela', fruta='cereza', R1=6, R2=655, R3=17),
 Elemento(nombre='Ana', fruta='sandia', R1=164, R2=769, R3=121),
 Elemento(nombre='Felipe', fruta='limon', R1=457, R2=279, R3=827),
 Elemento(nombre='Beto', fruta='pera', R1=685, R2=996, R3=269),
 Elemento(nombre='Gloria', fruta='pera', R1=730, R2=510, R3=203),
 Elemento(nombre='Emmanuel', fruta='platano', R1=811, R2=656, R3=805),
 Elemento(nombre='Carlos', fruta='limon', R1=819, R2=974, R3=544)]

In [16]:
def orden(elem):
    return elem.fruta, elem.R1 # define each order hierarchy
sorted(datos, key=orden)

[Elemento(nombre='Daniela', fruta='cereza', R1=6, R2=655, R3=17),
 Elemento(nombre='Felipe', fruta='limon', R1=457, R2=279, R3=827),
 Elemento(nombre='Carlos', fruta='limon', R1=819, R2=974, R3=544),
 Elemento(nombre='Beto', fruta='pera', R1=685, R2=996, R3=269),
 Elemento(nombre='Gloria', fruta='pera', R1=730, R2=510, R3=203),
 Elemento(nombre='Emmanuel', fruta='platano', R1=811, R2=656, R3=805),
 Elemento(nombre='Ana', fruta='sandia', R1=164, R2=769, R3=121)]

In [17]:
sorted(datos, key = lambda x: (x.fruta, x.R1))

[Elemento(nombre='Daniela', fruta='cereza', R1=6, R2=655, R3=17),
 Elemento(nombre='Felipe', fruta='limon', R1=457, R2=279, R3=827),
 Elemento(nombre='Carlos', fruta='limon', R1=819, R2=974, R3=544),
 Elemento(nombre='Beto', fruta='pera', R1=685, R2=996, R3=269),
 Elemento(nombre='Gloria', fruta='pera', R1=730, R2=510, R3=203),
 Elemento(nombre='Emmanuel', fruta='platano', R1=811, R2=656, R3=805),
 Elemento(nombre='Ana', fruta='sandia', R1=164, R2=769, R3=121)]

In [18]:
def orden(x):
    return x.R1 + x.R2 + x.R3
sorted(datos, key=orden)

[Elemento(nombre='Daniela', fruta='cereza', R1=6, R2=655, R3=17),
 Elemento(nombre='Ana', fruta='sandia', R1=164, R2=769, R3=121),
 Elemento(nombre='Gloria', fruta='pera', R1=730, R2=510, R3=203),
 Elemento(nombre='Felipe', fruta='limon', R1=457, R2=279, R3=827),
 Elemento(nombre='Beto', fruta='pera', R1=685, R2=996, R3=269),
 Elemento(nombre='Emmanuel', fruta='platano', R1=811, R2=656, R3=805),
 Elemento(nombre='Carlos', fruta='limon', R1=819, R2=974, R3=544)]

In [19]:
def orden(x):
    return x.R1 + x.R2 + x.R3
sorted(datos, key=orden, reverse=True) # sorted does not modify the original array

[Elemento(nombre='Carlos', fruta='limon', R1=819, R2=974, R3=544),
 Elemento(nombre='Emmanuel', fruta='platano', R1=811, R2=656, R3=805),
 Elemento(nombre='Beto', fruta='pera', R1=685, R2=996, R3=269),
 Elemento(nombre='Felipe', fruta='limon', R1=457, R2=279, R3=827),
 Elemento(nombre='Gloria', fruta='pera', R1=730, R2=510, R3=203),
 Elemento(nombre='Ana', fruta='sandia', R1=164, R2=769, R3=121),
 Elemento(nombre='Daniela', fruta='cereza', R1=6, R2=655, R3=17)]

In [20]:
def orden(x):
    return x.R1 + x.R2 + x.R3
datos2 = sorted(datos, key=orden, reverse=True)
datos2

[Elemento(nombre='Carlos', fruta='limon', R1=819, R2=974, R3=544),
 Elemento(nombre='Emmanuel', fruta='platano', R1=811, R2=656, R3=805),
 Elemento(nombre='Beto', fruta='pera', R1=685, R2=996, R3=269),
 Elemento(nombre='Felipe', fruta='limon', R1=457, R2=279, R3=827),
 Elemento(nombre='Gloria', fruta='pera', R1=730, R2=510, R3=203),
 Elemento(nombre='Ana', fruta='sandia', R1=164, R2=769, R3=121),
 Elemento(nombre='Daniela', fruta='cereza', R1=6, R2=655, R3=17)]